@import "var.scss";

.featured-section {
  position: relative;
  background-color: #fff;
  &--narrow {
    max-width: $page-narrow;
  }
  &--wide {
    max-width: $page-wide;
  }
}

.page-section {
  position: relative;
  background-color: #fff;
  &--narrow {
    max-width: $page-narrow;
  }
  &--medium {
    max-width: $page-medium;
  }
  &--wide {
    max-width: $page-wide;
  }
}
.page-section__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: darken(#00A4E2, 5%); 
}
.page-section__content {
  color: #707070;
  font-family: 'Amiri';
  // line-height: 2;
  font-weight: 500;
  letter-spacing: 1px;
  &--narrow {
    max-width: $page-narrow;
  }
  &--wide {
    max-width: $page-wide;
  }
}
