.page-header {
  background-color: #707070;
}

.page-nav {
  color: #fff;
  display: flex;
  justify-content: space-around;
  max-width: 1920px;
  margin: 0 auto;
}
.page-nav__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  & + & {
    margin-left: 1em
  }
  &:hover {
    filter: drop-shadow(0 0 4px rgba(255,255,255,.5))
  }
  &:focus,
  &:active {
    outline: none;
    filter: drop-shadow(0 0 4px rgba(255,255,255,.5))
  }
}

// @media (min-width: 60em) {
//   .page-nav {
//     bottom: auto;
//     top: 0;
//   }
// }