@import '../styles/var';

.hero {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__image {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(.7) saturate(1.5);
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(155, 211, 78, .75) 0%, rgba(0, 164, 225, .75) 66%);
  }
}
.hero__content {
  font-size: 1rem;
  padding: 1.5em 2em;
  color: #fff;
  width: 100%;
}
.hero__content__byline {
  font-size: .875em;
  letter-spacing: 1px;
  line-height: 1.875;
  font-weight: 600;
}
.hero__content__byline__strong {
  font-weight: 800;
  display: block;
}
.hero__content__title {
  text-transform: uppercase;
}
.hero__content__logo {
  margin: 2em 0 1.25em;
  max-width: 1200px;
}
.hero__content__extra {
  font-size: .75em;
  font-weight: bold;
  letter-spacing: 1px;
}

@media ( min-width: 768px) {
  .hero {
    min-height: 768px;
  }
  .hero__image {
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: none;
  }
  .hero__content {
    padding-top: 3em;
    font-size: 3.25em;
    max-width: 1350px;
  }
  .hero__content__byline {
    line-height: 1.4;
    font-size: calc(1vw + .25em);
    span {
      display: block;
    }
  }
  .hero__content__logo {
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  .hero__content__byline {
    font-size: calc(1vw + .45em);
  }
}