.footer {
  background-color: #252627;
  color: #fff;
}
.footer__brand {
  background: linear-gradient(to right, rgba(120, 50, 155, .95) 0%, rgba(0, 164, 225, .95) 66%, rgba(0, 164, 225, .95) 100%);
}
.footer__brand__logo {
  max-width: 400px;
}
.footer__brand__social {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.footer__link {
  &:hover {
    filter: drop-shadow(0 0 4px rgba(255,255,255,.5))
  }
}